@using HelloWorld.Models
@model Address

@{
    ViewData["Title"] = "Home Page";
    var message = "Hello world!";
}

<div class="jumbotron">
    <h1 class="display-4">@message</h1>
    <h2>@ViewBag.CurrentTime </h2>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

<div class="well">

    <h3>City: @Model.CityName</h3>
    <h3>Street: @Model.StreetName</h3>
    <h3>Building Number: @Model.BuildingNumber</h3>

    @{
        var list = new List<String> { "string 1", "string 2" };

        foreach (var item in list)
        {
            <div>@item</div>
        }
        @: To jest podsumowanie

    }

</div>